/* @import './base.css'; */
@import url('bootstrap/dist/css/bootstrap.min.css');

body {
  background: #000000;
}

.box,
.spotify-auth {
  background: #121212;
}

.btn-success {
  background-color: #1db954 !important;
  border-color: #1db954 !important;
  color: white !important;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  background-color: #1aa34a !important;
  border-color: #1aa34a !important;
  color: white !important;
}

.btn-secondary {
  background-color: #323231 !important;
  border-color: #323231 !important;
  color: white !important;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: #242424 !important;
  border-color: #242424 !important;
  color: white !important;
}

.btn-black {
  background-color: #111111 !important;
  border-color: #111111 !important;
  color: white !important;
}

.btn-black:hover,
.btn-black:focus,
.btn-black:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: white !important;
}

h1 {
  color: white;
}

p.fs-4 {
  color: #6d6d6d;
}

.btn {
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 40px;
}

.circle-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.v-popper--theme-tooltip-top .v-popper__inner {
  background: #1db954 !important;
  color: white !important;
  font-weight: bold !important;
  padding: 10px 20px !important;
  border-radius: 40px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1) !important;
}

.v-popper--theme-tooltip-top .v-popper__arrow-outer {
  border-color: #1db954 !important;
}

.list-display-container {
  overflow: hidden;
  position: relative;
  height: 380px;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 380px;
}

.list-display-container > * {
  flex: 0 0 auto;
  position: absolute;
}

.card-hover {
  transition:
    transform 0.4s,
    z-index 0.4s,
    box-shadow 0.3s;
}

.card-hover:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
}

.list-display-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #121212 0%, transparent 25%, transparent 75%, #121212 100%);
  pointer-events: none;
  z-index: 200;
}

.card {
  background: linear-gradient(to bottom, #242424 0%, #242424 75%, #323231 100%);
  border-radius: 20px;
  border: 2px solid rgb(60, 60, 60);
  overflow: hidden;
  height: 380px;
  box-shadow: 0px 0px 4px rgba(30, 30, 30, 1);
}

.card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 0.6rem;
}

.artist-image {
  width: 12rem;
  height: 12rem;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
}

.truncate {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 2rem);
  line-height: 1.2em;
  padding-bottom: 0.2em;
}

.truncate-event {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 1.5rem;
  line-height: 1.5em;
  width: 100%;
}

.colon {
  white-space: nowrap;
}

.modal-title {
  font-weight: bold;
}

.modal-content {
  background: #121212;
}

.modal-header {
  border-bottom: 1px solid #242424;
}

.modal-footer {
  border-top: 1px solid #242424;
}

.btn-close {
  filter: invert(1);
}

.btn-close:focus,
.btn-close:hover,
.btn-close:active {
  box-shadow: none;
}

.vuecal__menu,
.vuecal__cell-events-count {
  background-color: #1db954 !important;
}
.vuecal__title-bar {
  background-color: #323231 !important;
}
.vuecal__flex.vuecal__title button,
.vuecal__flex.vuecal__title span {
  font-size: 1.5rem !important;
  color: white !important;
}

.vuecal__arrow.vuecal__arrow--prev {
  font-size: 1.5rem !important;
  color: white !important;
}

.vuecal__arrow.vuecal__arrow--next {
  font-size: 1.5rem !important;
  color: white !important;
}

.vuecal__title-bar {
  padding: 1rem;
}

.vuecal:not(.vuecal--day-view) .vuecal__cell--selected {
  background-color: rgba(255, 255, 255, 0.4) !important;
}
.vuecal__cell--selected:before {
  border-color: rgba(26, 163, 74, 0.5) !important;
}

.vuecal__flex.vuecal__weekdays-headings {
  background-color: #171717 !important;
  color: white !important;
  font-size: 1rem !important;
}

.vuecal__flex.vuecal__cell-content .vuecal__cell-date {
  font-size: 1rem !important;
}

.vuecal--rounded-theme .vuecal__cell-content {
  color: white !important;
  background-color: #171717 !important;
  border: 2px solid #3c3c3c !important;
}

.vuecal--month-view .vuecal__cell-content {
  border-radius: 100% !important;
  width: 2.8rem !important;
  height: 2.8rem !important;
}

.vuecal--rounded-theme .vuecal__cell--today .vuecal__cell-content {
  border-color: #1db954 !important;
}

.vuecal--rounded-theme .vuecal__cell--selected .vuecal__cell-content {
  border-color: #1db954 !important;
}

.vuecal__cell.vuecal__cell--selected:before {
  background-color: white !important;
  opacity: 0.3 !important;
}

.vuecal--day-view.vuecal--no-time .vuecal__cell:not(.vuecal__cell--has-splits) {
  display: flex !important;
}

.vuecal--rounded-theme.vuecal--day-view .vuecal__cell-content {
  font-size: 1.2rem !important;
  overflow: hidden !important;
  border: 2px solid rgb(60, 60, 60) !important;
}

.vuecal__event {
  padding: 1rem;
  border-bottom: 2px solid rgb(60, 60, 60) !important;
  color: white !important;
}

.vuecal__cell-events .vuecal__event:nth-child(odd) {
  background-color: #444444 !important;
}

.vuecal__cell-events .vuecal__event:nth-child(even) {
  background-color: #323231 !important;
}

.vuecal__cell-events-count {
  width: 18px !important;
  height: 2px !important;
  top: 75% !important;
  color: transparent !important;
}

.vuecal__flex.vuecal__body {
  background: linear-gradient(to bottom, #242424 0%, #242424 75%, #323231 100%) !important;
}

.vuecal__flex.vuecal__cells.day-view .vuecal__flex.vuecal__cell-content {
  height: 90% !important;
  width: 90% !important;
}

.vuecal__flex.vuecal__cells.years-view
  .vuecal__flex
  .vuecal__cell
  .vuecal__flex.vuecal__cell-content {
  width: 70px !important;
  height: 50px;
}

.vuecal__flex.vuecal__cells.year-view
  .vuecal__flex
  .vuecal__cell
  .vuecal__flex.vuecal__cell-content {
  width: 100px !important;
  height: 60px;
}
