/* @import './base.css'; */
@import url('bootstrap/dist/css/bootstrap.min.css');

body {
  background: #000000;
}

.box,
.card,
.spotify-auth {
  background: #121212;
}

.btn-success {
  background-color: #1db954 !important;
  border-color: #1db954 !important;
  color: white !important;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  background-color: #1aa34a !important;
  border-color: #1aa34a !important;
  color: white !important;
}

h1 {
  color: white;
}

p.fs-4 {
  color: #6d6d6d;
}

.btn {
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 40px;
}

.circle-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
}
